# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python

# Environment & Build
.venv/
build/
devel/
dist/
downloads/
eggs/
.eggs/
*.egg-info/
.installed.cfg
*.egg

# IDEs & OS
.vscode/
.idea/
.DS_Store